.dev-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 200px;
  transform: translateX(calc(-97.5%));
  background: rgba(34, 34, 34, 0.4);
  color: #fff;
  border-radius: 0;
  box-shadow: 2px 0 8px rgba(0,0,0,0.08);
  z-index: 20000;
  padding: 18px 10px 18px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 15px;
  transition: transform 0.3s ease, background 0.3s ease, padding-left 0.3s ease;
  opacity: 0.7;
}

.dev-menu-content {
  transition: opacity 0.2s ease;
}

.dev-menu:not(:hover) .dev-menu-content {
  opacity: 0;
  pointer-events: none;
}

.dev-menu:hover {
  transform: translateX(0);
  background: rgba(34, 34, 34, 0.98);
  opacity: 1;
  padding-left: 14px;
}

.dev-menu-title {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 17px;
  letter-spacing: 1px;
}

.dev-menu-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.2s ease;
  opacity: 0.7;
}

.dev-menu-btn:hover {
  opacity: 1;
}